* {
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Your Selected Font', sans-serif;
    background-color: #032228;
}

/* Landing Section Styles */

.landing {
    /* background-color:#1e1e1e; */
    padding: 2rem;
    /* text-align: center; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
}

.name {
    /* text-align: center; */
    font-size: 2rem;
    padding: 1rem;
    color: #faf9fa;
    /* background-color: #f0f0f0; */
    /* border-bottom: 2px solid #663399; */
    text-decoration: none;
    margin-left: 5rem;
    margin-top: 4rem;
}

.landing h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.landing .intro {
    flex: 1;
    text-align: left;
    color: #fff;
    /* background-color: #663399; */
    padding: 1.5rem;
    border-radius: 1rem;
    width: 45rem;
    margin-top: 5rem;
    margin-left: 5rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.landing .intro h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.landing .intro h3:nth-of-type(2){
    margin-bottom: 30px;
}
.landing .intro h3 span{
    color: #f549f5;
}

.btn-download {
    text-decoration: none;
    background-color: #f549f5;
    border-radius: 2rem;
    padding: 1rem;
    padding-left: 2rem;
    display: inline-block;
    width: 7rem;
    /* justify-content: center; */
    /* align-items: center; */
    color: #fff;
    transition: background-color 0.3s;
    margin-top: 3rem;
    margin-left: 16rem;

}

.btn-download:hover {
    background-color: #d32ad2;
    box-shadow: 0 0 5px #f050f0,
    0 0 25px #f050f0,0 0 50px #f050f0,
    0 0 100px #f050f0,0 0 200px #f050f0;
}

.landing .intro p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}


/* Media Query for Responsive Design */
@media (max-width: 768px) {
    .landing {
        flex-direction: column;
    }

    .landing .intro {
        margin-bottom: 2rem;
    }

    .landing .buttons {
        text-align: center;
    }
}

/* photo section  */

.landing .photo {
    flex: 1;
    text-align: right;
    position: relative;
}

.landing .photo::before {
    content: "";
    display: block;
    width: 23.19rem;
    height: 25.25rem;
    border: 2px solid #663399;
    border-radius: 24%;
    position: absolute;
    bottom: 7.25rem;
    right: 8.68rem;
    z-index: -1;
}

.landing .about-button {
    position: absolute;
    bottom: 8.3125rem;
    right:  3.437rem;
    transform: translate(-50%, 50%);
    transition: background-color 0.3s
   
}

.landing .about-button .btn-about {
    text-decoration: none;
    /* background-color: #663399; */
    background-color: #f549f5;
    color: #fff;
    border-radius: 50%;
    padding: 0.5rem 1rem;
    /* display: inline-block; */
    height: 4.81rem;
    width: 7.13rem;
    display: flex;
    text-align: center;
    justify-content:center ;
    align-items: center;
}
.landing .about-button:hover .btn-about{
    background-color: #d32ad2 ;
    box-shadow: 0 0 5px #f050f0,
    0 0 25px #f050f0,0 0 50px #f050f0,
    0 0 100px #f050f0,0 0 200px #f050f0;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
    .landing {
        flex-direction: column;
    }

    .landing .intro {
        margin-bottom: 2rem;
    }

    .landing .buttons {
        text-align: center;
    }

}