* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Your Selected Font', sans-serif;
    background-color: #032228;
    transition: opacity 0.5s ease-in-out;
}


/* Landing page Styles */

.landing {
    /* background-color:#1e1e1e; */
    padding: 2rem;
    height: 100vh;
    /* text-align: center; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
}

.name {
    /* text-align: center; */
    font-size: 2rem;
    padding: 1rem;
    color: #faf9fa;
    /* background-color: #f0f0f0; */
    /* border-bottom: 2px solid #663399; */
    text-decoration: none;
    margin-left: 5rem;
    margin-top: 4rem;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}


.landing h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.landing .intro {
    flex: 1;
    text-align: left;
    color: #fff;
    /* background-color: #663399; */
    padding: 1.5rem;
    border-radius: 1rem;
    width: 45rem;
    margin-top: 5rem;
    margin-left: 5rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.landing .intro h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    /* animation-delay: .5s; */
}
.landing .intro h3{
    opacity: 0;
    animation: slideRight 1s ease forwards;
    /* animation-delay: .6s; */
}

.landing .intro h3:nth-of-type(2){
    margin-bottom: 30px;
}
.landing .intro h3 span{
    color: #f549f5;
}

.btn-download {
    text-decoration: none;
    background-color: #f549f5;
    border-radius: 2rem;
    padding: 1rem;
    padding-left: 2rem;
    display: inline-block;
    width: 7rem;
    /* justify-content: center; */
    /* align-items: center; */
    color: #fff;
    transition: background-color 0.4s;
    margin-top: 3rem;
    margin-left: 16rem;
    transition: .5s ease;
    animation: slideRight 1s ease forwards;
    opacity: 0 ;
    animation-delay:calc(.2s*var(--j));

}

.btn-download:hover {
    background-color: #d32ad2;
    box-shadow: 0 0 5px #f050f0,
    0 0 25px #f050f0,0 0 50px #f050f0,
    0 0 100px #f050f0,0 0 200px #f050f0;
}

.landing .intro p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    opacity: o;
    animation: slideRight 1s ease forwards;
    /* animation-delay: .8s; */

}


/* Media Query for Responsive Design */
@media (max-width: 768px) {
    .landing {
        flex-direction: column;
    }

    .landing .intro {
        margin-bottom: 2rem;
    }

    .landing .buttons {
        text-align: center;
    }
}

/* photo section  */

.landing .photo {
    flex: 1;
    text-align: right;
    position: relative;
    animation: slideLeft 1s ease forwards;
    opacity: 0 ;
}

.landing .photo::before {
    content: "";
    display: block;
    width: 23.19rem;
    height: 25.25rem;
    border: 2px solid #663399;
    border-radius: 24%;
    position: absolute;
    bottom: 7.25rem;
    right: 8.68rem;
    z-index: -1;
    box-shadow: 0 0 5px #f050f0,
    0 0 20px #f050f0,0 0 30px #f050f0,
    0 0 50px #f050f0,0 0 80px #f050f0;
}
.landing .social-icons {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 6.5625rem;
    right: 30.375rem;
    transform: translate(50%, 50%);
    transition: .5s ease;
    animation: slideLeft 1s ease forwards;
    opacity: 0 ;
    animation-delay:calc(.2s*var(--i));
}

.landing .social-icons a {
    text-decoration: none;
    color: #f549f5;
    font-size: 3rem;
    margin-right: 2rem;
    transition: color 0.3s;
}
.landing .social-icons a:last-child {
    margin-right: 0; 
}

.landing .photo .social-icons a:hover {
    color:#d32ad2;
    /* box-shadow: 0 0 5px #f050f0,
    0 0 25px #f050f0,0 0 50px #f050f0,
    0 0 100px #f050f0,0 0 200px #f050f0; */
}


.landing .about-button {
    position: absolute;
    bottom: 7.3125rem;
    right:  3.437rem;
    transform: translate(-50%, 50%);
    transition: background-color 0.4s;
    animation:slideLeft 1s ease forwards;
    opacity: 0 ;
    animation-delay: .4s;
   
}

.landing .about-button .btn-about {
    text-decoration: none;
    /* background-color: #663399; */
    background-color: #f549f5;
    color: #fff;
    border-radius: 50%;
    padding: 0.5rem 1rem;
    /* display: inline-block; */
    height: 4.81rem;
    width: 7.13rem;
    display: flex;
    text-align: center;
    justify-content:center ;
    align-items: center;
}
.landing .about-button:hover .btn-about{
    background-color: #d32ad2 ;
    box-shadow: 0 0 5px #f050f0,
    0 0 20px #f050f0,0 0 42px #f050f0,
    0 0 67px #f050f0,0 0 130px #f050f0;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
    .landing {
        flex-direction: column;
    }

    .landing .intro {
        margin-bottom: 2rem;
    }

    .landing .buttons {
        text-align: center;
    }

}

/* about page  */

.about {
    position: relative;
    display: flex;
    
    top: 100vh;
}

.about-content {
    
} 

.photo_abt {
    flex: 1;
    text-align: right;
    position: relative;
    animation: slideRight 1s ease forwards;
    opacity: 0 ;

} 
.photo_abt::before {
    content: "";
    display: block;
    width: 23.19rem;
    height: 25.25rem;
    border: 2px solid #663399;
    border-radius: 24%;
    position: absolute;
    bottom: 7.25rem;
    left: 8.68rem;
    z-index: 1;
    box-shadow: 0 0 5px #f050f0,
    0 0 20px #f050f0,0 0 30px #f050f0,
    0 0 50px #f050f0,0 0 80px #f050f0;
}


 @media (max-width: 768px) {
    
    .about {
        flex-direction: column;
        align-items: center;
    }
    
    .photo_abt{
        position: static;
        transform: none; 
        margin-top:1.25rem; 
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position: absolute;
    right: 29.875rem; 
    bottom: 29.875rem;
    transform: translate(0, -50%);
    z-index: 1;
}

.nav-button {
    background-color: #d32ad2;
    color: white;
    border: none;
    padding:0.625rem 1rem;
    cursor: pointer;
    border-radius: 48%;
    width: 7rem;
    height: 3rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav-button:hover{
    box-shadow: 0 0 5px #f050f0,
    0 0 7px #f050f0,0 0 10px #f050f0,
    0 0 18px #f050f0,0 0 23px #f050f0;
}


/* keyFrames for animations  */

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideAnimation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
